body,main{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

nav {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  display: flex;
  align-items:center;
  justify-content: end;
  z-index: 100 ;
}

.logo {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 60px;
  src: url('/Images/logo.png');
  background-size: contain;
  z-index: 1000;
  display: flex;
}
.logo img {
  height: 40px;
  width: auto;
  object-fit: contain;
}
 
.home  {
    justify-content: end;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  margin: 0 15px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 15px;
    transition: ease-in-out 0.3s;
}
ul li a:hover {
  /* border: 1px solid white; */
  border-radius: 1px;
border-bottom: #00e1ff 4px solid;
}


main {
  height: 100%;
  width: 100%;
}

.background {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Images/regbg.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: -1;
}

.registerbox {
  position:  absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 40px 30px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
  text-align: left;
  margin-top:6%;

}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: aqua;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #00e1ff;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.registerbutton {
  background-color: #00e1ff;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.registerbutton:hover {
  background-color: #02c4d3;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  font-size: 13px;
}

.checkbox {

    gap: 0px ;
}

.checkbox input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #00e1ff;
}


p {
  margin-top: 20px;
  font-size: 14px;
  color: #ffffffcc; /* soft white */
  text-align: center;
  line-height: 1.6;
}
